.NavBar {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  z-index: 3;
  height: 70px;
  margin: auto;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
}

.FontStyleName {
  font-family: "Water Brush", cursive;
  font-size: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.FontStyleName:hover {
  color: navy;
}

input {
  height: 140%;
  cursor: pointer;
}

.avtar {
  width: 42px;
  height: 42px;
  border: 2px solid red;
  border-radius: 25px;
  align-content: center;
  cursor: pointer;
}

.avtar > div > p {
  font-family: "Koulen", cursive;
  text-transform: capitalize;
  margin: -15px;
  text-align: center;
  font-size: 29px;
  font-weight: bolder;
  cursor: pointer;
}

.ProductsDivSearch {
  border: 1px solid red;
  height: auto;
}

.name {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.name:hover {
  color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}

.dropdownInside {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

.dropdownInside a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownInside a:hover {
  background-color: #b3b0b0;
}

.dropdown:hover .dropdownInside {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.cursar {
  cursor: pointer;
}

#logo {
  width: 100px;
  height: 85px;
  margin-top: 10px;
  border-radius: 50%;
  margin-left: -20px;
}

#box {
  display: flex;
}

.searchBar {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #e0e0e0;
}

.searchButton svg {
  width: 18px;
  height: 18px;
}

/* Styles for the Search Results Dropdown */
.searchResultsDropdown {
  position: absolute;
  top: 50px;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  width: 250px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* Styles for each product card inside the dropdown */
.productCard {
  display: flex;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid grey;
}

.productCard:last-child {
  border-bottom: none;
}

.productImageWrapper {
  flex: 0 0 60px;
  margin-right: 8px;
}

.noResults {
  margin: 8px;
  color: #777;
}

.productImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.productDetails {
  flex: 1;
}

.productName {
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}

.productPrice {
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  color: blue;
  margin: 0;
}

.productTag {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  margin: 0;
}

.productCard:hover {
  background-color: #f2f2f2;
}
